.sessionBuilder {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.mainLayout {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .mainLayout {
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 860px) {
  .mainLayout {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
